div#eventListenerConditions_UI
    table(class='table table-striped table-bordered table-hover')
        tbody
           tr
              td
                 input(type='text' id='inputListenerName' value='' class='form-control')
              td
                 select(class='form-control pull-right' id='selectConditionOperator')
                    option =
                    option >
                    option <
                    option >=
                    option <=
              td
                 input(type='text' id='inputConditionValue' value='' class='form-control')
              td
                 input(type='button' class='btn btn-default' value='Add' onclick='addCondition()')
