div#params_UI
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_UI_uiElementName') UI element name
		div(class='col-lg-10')
			input(type='text' id='setting_UI_uiElementName' value='' class='form-control')
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_UI_value') value
		div(class='col-lg-10')
			input(type='text' id='setting_UI_value' value='' class='form-control')
