div#params_Arduino
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Arduino_pin') Pin
		div(class='col-lg-10')
			input(type='text' id='setting_Arduino_pin' value='' class='form-control')
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Arduino_interval') Interval
		div(class='col-lg-10')
			input(type='text' id='setting_Arduino_interval' value='' class='form-control')
