div#params_Gpio
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Arduino_serial_output_pincode') Pin-Code
		div(class='col-lg-10')
			input(type='text' id='setting_Arduino_serial_output_pincode' value='' class='form-control')
script(src="/javascripts/plugins/Arduino_serial_output/eventListener.js")
