doctype html
html
	head
		title= Containers
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/pihome.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src="/socket.io/socket.io.js")
	body
		include navigation
		div.container
			div#containersList
			div#addNewContainer
			input(type='button' class='btn btn-default' value='New Container')#new
			div(class='col-lg-6')#containerConfig
				div(class='well')
					form(class='bs-example form-horizontal')
						fieldset
							legend
								input(type='text' value='Container-Name' class='form-control config-title-input')#txtName
								button(type='button' class='btn btn-default pull-right config-button')#save
									span(class="glyphicon glyphicon-floppy-disk")
								button(type='button' class='btn btn-default pull-right config-button')#remove
									span(class="glyphicon glyphicon-trash")
								button(type='button' class='btn btn-default pull-right config-button')#cancel
									span(class="glyphicon glyphicon-arrow-left")
								&nbsp;
							div(class='form-group')
								label(class='col-lg-2 control-label' for='txtDescription') Description
								div(class='col-lg-10')
									input(type='text' id='txtDescription' value='' class='form-control')
							div(class='form-group')
								label(class='col-lg-2 control-label' for='txtWidth') Width
								div(class='col-lg-10')
									select(class='form-control' id='txtWidth' size='1')
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
										option(value='6') 6
										option(value='7') 7
										option(value='8') 8
										option(value='9') 9
										option(value='10') 10
										option(value='11') 11
							legend Elements
							div(class='config-content')#elementsList
	script(src="/javascripts/containers.js")
