doctype html
html
   head
      title= Eventgroups
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/pihome.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#eventGroupList
         div#addNewEventGroup
            input(type='button' class='btn btn-default' value='New Eventgroup')#newEventGroup
         div(class='col-lg-6')#eventGroupConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset  
                     legend
                        input(type='text' value='Eventgroup-Name' class='form-control config-title-input')#txtEventGroupId
                        input(type='button' class='btn btn-default pull-right config-button' value='Remove')#removeEventGroup
                        input(type='button' class='btn btn-default pull-right config-button' value='Save')#saveEventGroupConfig
                        input(type='button' class='btn btn-default pull-right config-button' value='Cancel')#cancelEventGroupConfig
                        &nbsp;
                     div(class='form-group')
                     legend Events
                     div(class='config-content')#eventList
                     legend Taskgroups
                     div(class='config-content')#taskGroupList

   script(src="/javascripts/eventgroups.js")