doctype html
html
   head
      title= Tasks
      meta(name='mobile-web-app-capable' content='yes')
      link(rel='stylesheet', href='/css/bootstrap.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#eventList
         div#addNewEvent
            input(type='button' class='btn btn-default' value='New event')#addNewEvent
         div(class='col-lg-6')#eventGroupConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset  
                     legend Configuration
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtListenerName') Name
                        div(class='col-lg-8')
                           input(type='text' id='txtListenerName' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtListenerIp') IP
                        div(class='col-lg-8')
                           input(type='text' id='txtListenerIp' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtListenerVariable') Variable
                        div(class='col-lg-8')
                           input(type='text' id='txtListenerVariable' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtListenerPlugin') Plugin
                        div(class='col-lg-8')
                           div#plugin
                     legend Conditions
                     div#conditionList
                     legend Plugin-Params
                     div#pluginParams
                        include eventListener
                     div(class='form-group')
                        div(class='col-lg-10')
                           input(type='button' class='btn btn-default' value='Cancel')#cancelEventListenerConfig
                           input(type='button' class='btn btn-default' value='Save')#saveEventListenerConfig
                           input(type='button' class='btn btn-default pull-right' value='Remove')#removeEventListenerConfig
   script(src="/javascripts/events.js")
