doctype html
html
   head
      title= Tasks
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/pihome.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#frontpageItemList
         div#addNewFrontpageItem
            input(type='button' class='btn btn-default' value='New Frontpage item')#newFrontpageItem
         div(class='col-lg-6')#frontpageItemConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset
                     legend
                        input(type='text' value='Frontpageitem-Name' class='form-control config-title-input')#txtName
                        button(type='button' class='btn btn-default pull-right config-button' value='Save')#saveFrontpageItemConfig
                           span(class="glyphicon glyphicon-floppy-disk")
                        button(type='button' class='btn btn-default pull-right config-button' value='Remove')#removeFrontpageItem
                           span(class="glyphicon glyphicon-trash")
                        button(type='button' class='btn btn-default pull-right config-button')#cancelFrontpageItemConfig
                           span(class="glyphicon glyphicon-arrow-left")
                        &nbsp;
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtDescription') Description
                        div(class='col-lg-8')
                           input(type='text' id='txtDescription' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtType') Type
                        div(class='col-lg-8')
                           select(class='form-control' id='selectType' onchange='typeChanged()')
                              option button
                              option onOffSwitch
                              option label
                              include frontpageitems_plugins
                     div#frontpageItemParams
   script(src="/javascripts/frontpageconfig.js")
