doctype 5
html
   head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      script(src='/javascripts/home.js')
   body
      include navigation
      div.container
         div(class='col-lg-10')
            div(class='well')
               This button should activate the physical Button for 5 seconds!
               button(class="btn btn-success", onclick="activatePhysicalButton()").
                  Activate Button
         div(class='col-lg-10')
            div#tasks