div(class='navbar navbar-inverse')
   div(class='navbar-header')
      button(class='navbar-toggle' type='button' data-toggle='collapse' data-target='.navbar-collapse')#navbarButton
      a(class='navbar-brand' href='/') Pi@Home
   div(class='navbar-collapse collapse navbar-inverse-collapse')
        ul(class='nav navbar-nav')
            li(class='active')
                a(href='tasks') Tasks
            li
                a(href='taskgroups') Taskgroups
            li
                a(href='events') Events
            li
                a(href='eventgroups') Eventgroups

