doctype html
html
   head
      title= Sites
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/pihome.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#sitesList
         div#addNewSite
            input(type='button' class='btn btn-default' value='New Site')#newSite
         div(class='col-lg-6')#siteConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset
                     legend
                        input(type='text' value='Frontpageitem-Name' class='form-control config-title-input')#txtName
                        button(type='button' class='btn btn-default pull-right config-button')#saveSite
                           span(class="glyphicon glyphicon-floppy-disk")
                        button(type='button' class='btn btn-default pull-right config-button')#removeSite
                           span(class="glyphicon glyphicon-trash")
                        button(type='button' class='btn btn-default pull-right config-button')#cancelSite
                           span(class="glyphicon glyphicon-arrow-left")
                        &nbsp;
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtDescription') Description
                        div(class='col-lg-8')
                           input(type='text' id='txtDescription' value='' class='form-control')
                     div(class='config-content')#containersList
   script(src="/javascripts/sites.js")
