doctype html
html
   head
      title= Tasks
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/pihome.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#taskGroupList
         div#addNewTaskGroup
            input(type='button' class='btn btn-default' value='New TaskGroup')#newTaskGroup
         div(class='col-lg-6')#taskGroupConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset  
                     legend
                        input(type='text' value='Taskgroup-Name' class='form-control config-title-input')#txtTaskGroupId
                        input(type='button' class='btn btn-default pull-right config-button' value='Remove')#removeTaskGroup
                        input(type='button' class='btn btn-default pull-right config-button' value='Save')#saveTaskGroupConfig
                        input(type='button' class='btn btn-default pull-right config-button' value='Cancel')#cancelTaskGroupConfig
                        &nbsp;
                     div(class='config-content')#taskList

   script(src="/javascripts/taskgroups.js")
