doctype html
html
   head
      title= Tasks
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/pihome.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      meta(name='viewport',content='width=device-width,initial-scale=1.0')
   body
      include navigation
      div.container
         div#taskList
         div#addNewTask
            input(type='button' class='btn btn-default' value='New task')#addNewTask
         div(class='col-lg-6')#taskConfig
            div(class='well config-box')
               form(class='bs-example form-horizontal')
                  fieldset
                     legend
                        input(type='text' value='Task-Name' class='form-control config-title-input')#txtTaskId
                        button(type='button' class='btn btn-default pull-right config-button')#saveTaskConfig
                           span(class="glyphicon glyphicon-floppy-disk")
                        button(type='button' class='btn btn-default pull-right config-button')#removeTaskConfig
                           span(class="glyphicon glyphicon-trash")
                        button(type='button' class='btn btn-default pull-right config-button')#cancelTaskConfig
                           span(class="glyphicon glyphicon-arrow-left")
                        &nbsp;
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtHost') Host-IP
                        div(class='col-lg-8')
                           input(type='text' id='txtHost' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-3 control-label' for='txtPlugin') Plugin-Name
                        div(class='col-lg-8')
                           div#plugin
                     div#taskConfigParams
                     div#taskConfigParamsAdd
                        include taskParams
   script(src="/javascripts/tasks.js")
