doctype 5
html
   head
      title= Tasks
      link(rel='stylesheet', href='/css/bootstrap.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
   body
      include navigation
      div.container
         div#taskList
         div#addNewTask
            input(type='button' class='btn btn-default' value='New task')#addNewTask
         div(class='col-lg-6')#taskConfig
            div(class='well')
               form(class='bs-example form-horizontal')
                  fieldset
                     legend Configuration
                     div(class='form-group')
                        label(class='col-lg-2 control-label' for='txtTaskId') TaskId
                        div(class='col-lg-10')
                           input(type='text' id='txtTaskId' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-2 control-label' for='txtHost') Host-IP
                        div(class='col-lg-10')
                           input(type='text' id='txtHost' value='' class='form-control')
                     div(class='form-group')
                        label(class='col-lg-2 control-label' for='txtPlugin') Plugin-Name
                        div(class='col-lg-10')
                           div#plugin
                     div#taskConfigParams
                     div#taskConfigParamsAdd
                        include plugins/taskParams
                     div(class='form-group')
                        div(class='col-lg-10')
                           input(type='button' class='btn btn-default' value='Save')#saveTaskConfig
                           input(type='button' class='btn btn-default' value='Cancel')#cancelTaskConfig
                           input(type='button' class='btn btn-default pull-right' value='Remove')#removeTaskConfig
   script(src="/javascripts/tasks.js")
