div#params_Gpio
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Gpio_pin') Pin
		div(class='col-lg-10')
			input(type='text' id='setting_Gpio_pin' value='' class='form-control')
script(src="/javascripts/plugins/Gpio/eventListener.js")
