div#params_Gpio
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Gpio_direction') Direction
		div(class='col-lg-10')
			select(class='form-control' id='setting_Gpio_direction' size='1')
				option(value='in') in
				option(value='out') out
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Gpio_pin') Pin
		div(class='col-lg-10')
			input(type='text' id='setting_Gpio_pin' name='setting_Gpio_pin' value='' class='form-control')
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Gpio_value') Value
		div(class='col-lg-10')
			select(class='form-control' id='setting_Gpio_value' size='1')
				option(value='0') 0
				option(value='1') 1
script(src="/javascripts/Gpio.js")
