div#params_UI
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_UI_uiType') Type
		div(class='col-lg-10')
			select(id='setting_UI_uiType' value='' class='form-control')
				option button
